<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="${post.title}">Postaus</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/omatyyli.css">
    <!--Yksittäisen postauksen sivu, sisältö vaihtuu postauksen id:n perusteella-->
</head>
<body>
    <div class="container mt-4">
    <h1 th:text="${post.title}"></h1>
    <p><strong>Date:</strong> <span th:text="${post.postDate}"></span></p>
    <hr>
    <p th:utext="${post.text}"></p>
    <p><strong>Writer: </strong><span th:text="${post.writer.lastName + ', ' + post.writer.firstName}"></span></p>

    <p><strong>Keywords:</strong> 
        <span th:each="pk, stat : ${post.postKeywords}" 
        th:text="${pk.keyword.strKeyword + (stat.last ? '' : ', ')}"></span><p>
    <a href="/postlist" class="btn w-auto">Back to listing</a>
    <a sec:authorize="hasAuthority('USER')" th:href="@{/postlist_username/{userName}(userName=${post.writer.userName})}" class="btn w-auto">Back to your posts</a>
    </div>
    
</body>
</html>