<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blogpost listing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/omatyyli.css">
</head>
<!--Tämä sivu on julkinen ja näkyy kaikille blogia lukeville. Tänne listataan postaukset avainsanan perusteella-->
<body class="ml-4 mt-4">
    <h1 class="mt-4">Blogposts by keyword <span th:text="${kwByUser}"></span></h1>
    <h3>By clicking the title, you can read the whole post!</h3>
    <table class="table table-striped">
        <!--Otsikkorivi-->
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Writer</th>
            <th>Keywords</th>      
        </tr>
        <!--Postausten tiedot-->
                <tr th:each = "postaus : ${postsByKeyword}">
                <td><a th:text="${postaus.title}" th:href="@{/post/{id}(id=${postaus.postId})}"></a>
                </td>
            <td th:text="${postaus.postDate}"></td>
            <td th:text="${postaus.writer != null ? postaus.writer.firstName + ' ' + postaus.writer.lastName : 'Unknown'}"></td>
            <td>
                <ul id="list-keyword" th:if="${#lists.size(postaus.postKeywords) > 0}">
                    <li th:each="pk : ${postaus.postKeywords}" th:text="${pk.keyword.strKeyword}"></li>
                </ul>
            </td>
        </tr>
    </table>
    <a href="/postlist" class="btn">Back to all posts</a>
</body>
</html>